@model StoreAnalysis.Models.RefillItemViewModel

<h2>Refill Slot @Model.SlotID</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

@using (Html.BeginForm("Refill", "Slot", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.SlotID)

    <div class="form-group">
        @Html.LabelFor(m => m.Id)
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Id, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Add Items</button>
}
